.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 2em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

img{
    height: auto;
    width: auto;
}

.item {
    margin-right: 1em;
    font-size: 25px;
}

.item a {
    color: #FFF;
    text-decoration: none;
}

.item a:hover {
    color: #ffbb33;
}